{% load static %}
<link type="text/css" href="{% static 'pages/css/main_page.css' %}" rel="stylesheet" />
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Почтовый сервис</h1>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="/">Входящие</a></li>
                <li><a href="{% url 'outcome' %}">Отправленные</a></li>
                <li><a href="{% url 'drafts' %}">Черновики</a></li>
                <li><a href="{% url 'drafts_cache' %}">Кэш</a></li>
                <li><a href="{% url 'users:logout' %}">Выход</a></li>
                {% else %}
                <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    {% block messages %}

    {% endblock messages %}
    <footer>
        <p>© 2024 Почтовый сервис. Все права защищены.</p>
    </footer>
</body>
</html>












