{% load static %}
<link type="text/css" href="{% static 'pages/css/home_page.css' %}" rel="stylesheet" />
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовый сервис</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать в Почтовый сервис</h1>
        <nav>
            <ul>
                <li><a href="">Вход</a></li>
                <li><a href="/register">Регистрация</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Вход в систему</h2>
            <form action="#" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Войти</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 Почтовый сервис. Все права защищены.</p>
    </footer>
</body>
</html>

