{% extends 'base.html' %}
{% block messages %}
<main>
        <section>
            <form action="{% url 'send' %}" method="GET">
    <button type="submit">Написать письмо</button>
</form>
        </section>
        <section>
            <h3>Последние сообщения</h3>
            <ul>
                {% for mail in mails %}
                    <li>
                        <strong>From:</strong> {{ mail.from_user }}<br>
                        <strong>Message:</strong> {{ mail.message }}
                    </li>
                {% endfor %}


            </ul>
        </section>
    </main>
{% endblock messages %}