{% extends 'base.html' %}
{% block messages %}
<main>
        <section>
            <form action="{% url 'send' %}" method="GET">
    <button type="submit">Написать письмо</button>
</form>
        </section>
        <section>
            <h3>Последние сообщения</h3>
            <ul>
                {% for mail in mails %}
                    <li>
                        {% if bool %}
                        <strong>To:</strong> {{ mail.to_user }}<br>
                         {% else %}
                        <strong>From:</strong> {{ mail.from_user }}<br>
                        {% endif %}
                        <strong>Message:</strong> {{ mail.message|truncatechars:25 }}
                         <p><button onclick="location.href='message/{{ mail.id }}';">Перейти к сообщению</button></p>

                    </li>
                {% endfor %}


            </ul>
        </section>
    </main>
{% endblock messages %}